.splash {
  margin-top: 200px;
  text-align: center;
}

.header {
  color: purple
}

.elementsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elementDiv {
  border: 1px solid grey;
  padding: 0px 16px 16px 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  width: 200px
}

p {
  margin-bottom: 0px;
}